.screen {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat
    url("https://www.bmw.co.kr/content/dam/bmw/marketKR/bmw_co_kr/all-models/5-series/THE-5-KV_PC2.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1599648810252.jpg");
}
