.screen {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat
    url("https://blog.kakaocdn.net/dn/bdfRwj/btqEwJs2wSb/Nt0S2iPA6dUh6h5KTgDiVk/img.jpg");
}
